body{
    margin: 0;
}
#heading{
    background-color: crimson;
    height: 70px;
    display: flex;
    flex-direction: row-reverse;
}

#search-field{
    border: 5px solid greenyellow;
    
    
}

.search-module{
    height: 23px;
    flex: .3;
    margin-top: 1rem;
}
