
*{
  margin: 0px;
  padding: 0px;
}

h1{
  display: inline;
  color: #0dcaf0;
}


h6{
  display: inline;
  color: white;
}

body{
  background-color:gray;
}
.quick-icon-size{
  height: 60px;
  width: 60px;
}


/*back button style*/


.back-button{
  border:"0";
  padding:"0";
  background-color:"inherit",
}